<html><head></head><body style="margin:0px; "><p>
    
    
      
    <title></title>
  
  
    <table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#F5F5F5" style="border-collapse:collapse; ">
      <tbody style="">
        <tr style="">
          <td class="mktoContainer" id="main" valign="top" style="max-width:540px; margin:0 auto; border-radius:8px; margin-top:10px; padding:0px; ">
            <table class="mktoModule" id="centerLogob9753e9e-bcd0-4197-a382-65eeb3891ff9" cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#FFFFFF" width="100%" style="max-width:640px">
              <tbody>
                <tr>
                  <td bgcolor="#FFFFFF" align="center" height="100%" valign="top" width="100%" style="padding:17px 0 15px 0;">
                    
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="mktoModule" id="linespacer" cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#FFFFFF" width="100%" style="max-width:640px; padding:0; ">
              <tbody>
                <tr>
                  <td>
                    <table cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#FFFFFF" width="100%" style="max-width:540px;padding:0;height:1px;border-top:1px solid #dadada;">
                      <tbody>
                        <tr>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="mktoModule" id="testing" cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#FFFFFF" width="100%" style="max-width:640px; padding:0; ">
              <tbody style="">
                <tr style="">
                  <td style="">
                    <table class="" cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#FFFFFF" width="100%" style="max-width:540px; padding:0; ">
                      <tbody>
                        <tr style="" class="">
                          <td style="font-family:'Helvetica', 'Arial', sans-serif!important; font-size:18px; line-height:24px!important; color:#555555; " id="edit-body">
                            <p class="mktEditable" id="greeting2">Hi {{ name }},
👋</p>

<p>AeroPax is finally launching today and we can't wait for you to be a part of it! 🚀🎉

</p>

<p>Experience the incredible world of AeroPax digital collectibles and unlock exclusive rewards and experiences! 💻🌐
</p><p>Take advantage of our special launch promotion: mint an AeroPax, secure a FREE limited edition hoodie 🔥, and enter for a chance to win one of 10 Teslas (no purchase necessary)!


</p>
                            
                            
                            

<p>Starting at [6 PM PST], visit <a href="www.aeropostale.com/aeropax" target="_blank">www.aeropostale.com/aeropax</a> to mint your collectible. No crypto required!



                            </p>

<p>🎁 Free limited edition hoodie
                            </p><p>🚘 Chance to win a Tesla (no purchase necessary)

                            </p>

<p>💻 Exclusive rewards and experiences</p>

<p>🏆 Participate in contests and giveaways</p>

<p>Follow us on social media for the latest updates and participate in our contests and giveaways 🏆 Twitter: <a href="https://twitter.com/AEROPAXNFT" target="_blank"> AeroPaxNFT</a> + Instagram: <a href="https://www.instagram.com/aeropaxnft/" target="_blank">AeroPaxNFT</a>
</p>
<p>Join the AeroPax launch and be part of something amazing! 💪
                            </p>

<p>Best regards,

</p>
<p></p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table class="mktoModule" id="Author" align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" style="max-width:640px;" width="100%">
<tbody style="">
  <tr style="">
    <td style="background:#fff;">
      <table align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" style="max-width:540px; padding:10px 0px 30px 0px;" width="100%">
        <tbody>
          <tr style="">
            
            <td style="">
              <div style="">
                <div class="mktoText" id="AuthorName" style="font-family:'Helvetica', 'Arial', sans-serif; font-size:18px; line-height:24px!important; color:#555555; vertical-align:top; padding:0;">The AeroPax Team 💙</div>
                
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</tbody>
</table>
<table class="mktoModule" id="blankspacer" cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#FFFFFF" width="100%" style="max-width:640px; padding:0; ">
<tbody>
  <tr>
    <td>
      <table cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#FFFFFF" width="100%" style="max-width:540px;padding-top:0px;padding-bottom:0px;">
        <tbody>
          <tr>
            <td></td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</tbody>
</table>
<table class="mktoModule" id="linespacer2" cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#FFFFFF" width="100%" style="max-width:640px; padding:0; ">
<tbody>
  <tr>
    <td>
      <table cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#FFFFFF" width="100%" style="max-width:540px;padding:0;height:1px;border-top:1px solid #dadada;">
        <tbody>
          <tr>
            <td></td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</tbody>
</table>

<table class="mktoModule" id="footerCopy" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width:640px;">
<tbody>
  <tr>
    
  </tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<!-- <p><font face="Verdana" size="1">This email was sent to jake+datadogfreetrial@messaged.io. </font></p> -->


</p></body></html>